<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ctrlX Login | System ID</title>
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
  </head>
  <div class="login-container">
    <div class="login-box">
        <h1 class="login-title">Login</h1>
        
        <form id="loginForm">
        <div class="input-group">
            <label for="ip">Dispositivo (Host)*</label>
            <select id="ipSelect" required>
                <option value="">Cargando dispositivos...</option>
            </select>
            <input type="hidden" id="ip" />
        </div>

        <div class="input-group">
            <label for="user">Username*</label>
            <input type="text" id="user" value="boschrexroth" required />
        </div>

        <div class="input-group">
            <label for="password">Password*</label>
            <div class="password-wrapper">
            <input type="password" id="password" required />
            <i id="togglePassword" class="fa-regular fa-eye toggle-eye"></i>
            </div>
        </div>

        <div id="errorMessage" class="error-banner" style="display: none;">
            <i class="fa-solid fa-circle-exclamation"></i>
            <span id="errorText">Please enter your password.</span>
        </div>

        <div class="button-container">
            <button type="submit" class="btn-login">Log in</button>
        </div>
        </form>
    </div>
    </div>
    <script src="../static/js/login.js"></script>
  </body>
</html>